@page "/vistalibro"
@inherits ListaBooksBase

<h3 class="oi oi-book">Libros</h3>
@if (Books == null)
{
    <h1>Error</h1>
}
else
{
    <div class="row">
        <div class="col-12 text-left">
            <a href="BookForm">
                Nuevo
            </a>
        </div>
    </div>
    <div class="card-deck">
        @foreach (var books in Books)
        {
            <div class="card m-4">
                <div class="card-header">
                    <h3>@books.Titulo</h3>
                    <h5>@books.Año</h5>
                    <h5 style="color:red">@books.NumeroPagina</h5>
                    <h3>@books.Autor.Nombre</h3>

                </div>
                <a href="/BookUpdateForm/@books.BookId">Editar</a>
                <a href="/EliminarLibro/@books.BookId">Eliminar</a>
            </div>
        }
    </div>
}